<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/3.4/menu">

    <menu id="root-menu" label="Menu">

	<separator label="Menu"/>
	<item label="Terminal">
		<action name="Execute">
			<command>guake</command>
		</action>
	</item>
	<item label="File Manager">
		<action name="Execute">
			<command>thunar</command>
		</action>
	</item>

    <menu id="apps-accessories-menu" label="Acessories">
        <item label="Application Finder">
            <action name="Execute">
                <command>xfce4-appfinder</command>
            </action>
        </item>
<!--
		<item label="Text editor">
			<action name="Execute">
				<command></command>
			</action>
		</item>
-->
        <item label="Notes">
			<action name="Execute">
				<command>xfce4-notes</command>
			</action>
		</item>
<!--
        <item label="VirtualBox">
			<action name="Execute">
				<command>virtualbox</command>
			</action>
		</item>
-->
    </menu>

    <menu id="apps-internet-menu" label="Internet">
		<item label="Firefox">
			<action name="Execute">
				<command>firefox</command>
			</action>
		</item>
        <item label="Safe Mode Firefox">
            <action name="Execute">
                <command>firefox --safe-mode --private-window</command>
            </action>
        </item>
<!--   
        <item label="Thunderbird">
			<action name="Execute">
				<command>thunderbird</command>
			</action>
        </item> 
-->
        <item label="Telegram">
			<action name="Execute">
                <command>telegram-desktop</command>
			</action>
		</item>
    </menu>

    <menu id="apps-devolveper" label="Desenvolvimento">
        <item label="Eclipse">
            <action name="Execute">
                <command>eclipse</command>
            </action>
        </item>
        <item label="Meld">
            <action name="Execute">
                <command>meld</command>
            </action>
        </item>
		<item label="VS Code">
			<action name="Execute">
				<command>code</command>
			</action>
		</item>
    </menu>

    <menu id="apps-office-menu" label="Office">
		<item label="Libre Office">
			<action name="Execute">
				<command>libreoffice --base</command>
			</action>
		</item>
		<item label="Calc">
			<action name="Execute">
				<command>libreoffice --calc</command>
			</action>
		</item>
		<item label="Writer">
			<action name="Execute">
				<command>libreoffice --writer</command>
			</action>
		</item>
	    <item label="Free Plane">
			<action name="Execute">
				<command>freeplane</command>
			</action>
		</item>
        <item label="Galculator">
            <action name="Execute">
                <command>galculator</command>
            </action>
        </item>
<!--	   
        <item label="LaTex">
			<action name="Execute">
				<command></command>
			</action>
        </item>
-->
	    <item label="Evince">
			<action name="Execute">
        		<command>evince</command>
        	</action>
        </item>
        <item label="Geogebra">
            <action name="Execute">
                <command>geogebra-classic</command>
            </action>
        </item>
	</menu>

    <menu id="apps-multimedia-menu" label="Multimedia">
		<item label="VLC">
			<action name="Execute">
				<command>vlc</command>
			</action>
		</item>
		<item label="Visualizador de Imagem">
			<action name="Execute">
				<command>gthumb</command>
			</action>
		</item>
	</menu>

    <separator label="Settings"/>
	<menu id="app-setup-menu" label="System">
		<item label="Nitrogen">
			<action name="Execute">
				<command>nitrogen</command>
			</action>
		</item>
        <item label="Compton">
            <action name="Execute">
                <command>compton-conf</command>
            </action>
        </item>
		<item label="Plank Manager">
			<action name="Execute">
				<command>plank --preferences</command>
			</action>
		</item>
		<item label="LxAppearance">
			<action name="Execute">
				<command>lxappearance</command>
			</action>
		</item>
		<item label="OpenBox Manager">
			<action name="Execute">
				<command>obconf</command>
			</action>
		</item>
	</menu>

    <menu id="logoff-menu" label="Logoff">
        <item label="Encerrar...">
                <action name="Execute">
                        <command>obsession-logout</commamnd>
                </action>
        </item>
		<item label="Encerrar processo">
			<action name="Execute">
				<command>xkill</command>
            </action>
		</item>
	</menu>
</openbox_menu>
